server:
  port: ${PORT:8070}
  address: 0.0.0.0

spring:
  application:
    name: eureka-server

eureka:
  instance:
    hostname: ${eureka.instance.hostname}
  client:
    register-with-eureka: false
    fetch-registry: false
    